/*     Font Import     */
@font-face{
    font-family: SquarePeg;
    src:url("/assets/font/SquarePeg-Regular.ttf");
}
/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body{
    font-family: SquarePeg;
    margin: 0;
    color: aliceblue;
    cursor: default;
}
header.primary{
    background-image: url("/assets/img/blackboard-background.jpeg");
    background-size:cover;
    background-position:center;
    padding: 40px;
    margin: 0;
}
header.primary h1{
    text-align: center;
    font-size: 8vw;
    letter-spacing: 6px;
    border-bottom: 4px double #d8e5eccb;
    margin-bottom: 0;
}
header.primary h2{
    text-align: center;
    font-size: 7vw;
    letter-spacing: 4px;
    margin-top: 10px;
}
header.primary nav li{
    font-size: 5vw;
    letter-spacing: 2px;
    margin-left: 5%;
    list-style: none;
}
header.primary nav li a{
    color: aliceblue;
    text-decoration: none;
    cursor: default;
}
