/*     Font Import     */
@font-face{
    font-family: SquarePeg;
    src:url("../font/SquarePeg-Regular.ttf");
}
/* ---------------Box Sizing----------------- */
*{
    box-sizing: border-box;
    font-family: SquarePeg;
    color: azure;
}
/*     Background Image     */
body{
    background-image: url("../img/blackboard-background.jpeg");
    background-size: cover;
    background-repeat:repeat-y;
    height: 200px;
    width: 100vh;
}
h1{
    text-align: center;
    font-size: xxx-large;
    letter-spacing: 6px;
    border-bottom: 4px double #d8e5eccb;
    margin-bottom: 0cm;
}
h2{
    text-align: center;
    font-size: xx-large;
    letter-spacing: 4px;
    margin-top: 10px;
}
nav li{
    font-size: x-large;
    letter-spacing: 2px;
    margin-left: 5%;
}