<!doctype html>
<!--commit as "First Commit"-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>SpaceX Dragon | Home</title>
    <meta name="robots" content="noindex">
    <!--meta name="SpaceX Dragon" content="SpaceX designs, manufactures and launches advanced rockets and spacecraft. The company was founded in 2002 to revolutionize space technology, with the ultimate goal of enabling people to live on other planets."-->
    <link rel="stylesheet" href="../assets/css/styles.css"/>
    <meta name="author" content="Isaac Ceja">
</head>

<body class="wide-font">
    <header class="main-header">
        <nav class="main-nav nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="history.html">History</a></li>
                <li><a href="faqs.html">FAQ's</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <h1 class="page-name">Home Page</h1>
    </header>
    <section class="content-section container ">
        <h2 class="section-header">Header</h2>
        <p>body</p>
    </section>
    <section class="itemized-list">
        <h3 class="section-subheader">Subheader</h3>
        <div title="lists">
            <ul class="unordered-list">
                <li>Item</li>
            </ul>
            <ol class="ordered-list">
                <li>Item</li>
            </ol>
        </div>
    </section>
    <section class="collapsable-container">
        <div class="collapsable-content container">
            <details>
                <summary>Visible</summary>
                Collapse content
            </details>
        </div>
    </section>
    <section class="custom-list">
        <div class="mission-row section-header">
            <span class="mission-date">Launch Date</span>
            <span class="mission-customer">Customer</span>
            <span class="mission-site">Launch Site </span>
            <span class="mission-vehicle">Vehicle</span>
            <hr>
        </div>
        <div class="mission-row">
        <span class="mission-date">Launch Date</span>
        <span class="mission-customer">Customer</span>
        <span class="mission-site">Launch Site </span>
        <span class="mission-vehicle">Vehicle</span>
        <hr>
        </div>
    </section>
    <section class="articles">
        <div class="container">
            <h2>Header</h2>
            <article class="content-summary">
                <header>
                    <figure>
                        <img src="/" alt="alt">
                        <figcaption>caption</figcaption>
                    </figure>
                    <h3>Section header</h3>
                    <p>content heading</p>
                </header>
                <ul>
                    <li>content</li>
                    <li>content</li>
                </ul>
            </div>
        </article>
    </section>


    <div title="objects" hidden>
        <button type="button">Button</button>
    </div>

    <div title="photo-library" hidden>
        <img src="/dragon/assets/images/dragon-capsule-5.jpg" alt="Elon Musk presenting SpaceX's Dragon capsule on stage.">
        <img src="/dragon/assets/images/dragon-exterior.jpg" alt="Exterior of Project Dragon shuttle">
        <img src="/dragon/assets/images/dragon-in-space.jpg">
    </div>

    

    <footer class="primary" title="Author Info">
        <h6 id="Author Info">&copy; 2022 Isaac Ceja | 
          <a href="mailto:iceja@ualr.edu">iceja@ualr.edu | </a>
          <a href="#top" c>Back to Top</a>
        </h6>
        <ul>
            <li>
                
            </li>
        </ul>
    </footer>
</body>

