/*-----F
/*-----Box Sizing-----*/
*{
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    color: azure;
}
*, *::before, ::after{
    box-sizing: inherit;
}
html, body{
    background-color: rgb(35, 37, 40);
    margin: 0;
    padding: 0;
    letter-spacing: .04em;
    body {
      font-family: 'Space Grotesk', sans-serif;
    }
}
p{
    margin: 2em;
    text-align: center;
    line-height: 1.4em;
}
/* ----- Utility Styles ---- */

.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 900px;
}

.img-right {
  float: right;
  margin: 10px 0 10px 20px;
  border: 1px solid #c0c0c0;
  padding: 5px;
}

.img-left {
  float: left;
  margin: 10px 20px 10px 0;
  border: 1px solid #c0c0c0;
  padding: 5px;
}

.img-center {
  display: block;
  margin: 20px auto;
  border: 1px solid #c0c0c0;
  padding: 5px;
}

/*-----Header Format-----*/
.main-header{
  background-image: linear-gradient(rgb(1, 11, 25,0.7),rgba(54, 70, 92, 0.7)),url("/dragon/assets/images/header-background.jpeg");
  vertical-align: middle;
  background-size: cover;
  padding: 20px;
  /* !make img min for small screens*/
}
.nav{
  display: flex;
  padding: 2%, 6%;
  justify-content: space-around;
  align-items: center;
}
.main-header img{
  width: 400px;
  height: auto;
  border: none;
  margin-bottom: 0px;
}
.main-nav{
  flex: 1;
  text-align: center;
}
.main-nav ul li{
  list-style: none;
  display: inline-flex;
  padding: 8px 12px;
  position: relative;
}
.main-nav ul li a{
  color: aliceblue;
  text-decoration: none;
  font-size: 1.2em;
  padding: 20px;

}
.main-nav ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background-color: rgba(6, 61, 138, 0.667);
  display: block;
  transition: 0.5s;
}
.main-nav ul li:hover::after{
  width: 100%;
}
.main-header h1{
  color: aliceblue;
  text-align: center;
  padding: 5px;
}

/*-----General Content------*/

.content-section{
    margin: 20px;
}
.container{
    width: 80vw;
    margin: 40px auto;
}
.section-header{
    font-family: "Barlow Condensed - Medium";
    text-align: center;
}
h2, h3{
text-align: center;
}
.configurations p{
  text-align: left;
}

/*-----Custom List-----*/
.mission-header{
    font-weight: bold;
}

.mission-row{
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.mission-row:last-child{
    border: none;
}
.mission-item{
    display: inline-block;
    padding-left: .5em;
}

.mission-date {
    width: 15%;
}
.mission-customer {
    width: 40%;
}
.mission-site {
    width: 20%;
}
.mission-vehicle {
    width: 10%;
}

/* -----summary details-----*/

details summary > *{
    /*elevates block-level element h2*/
    display: inline;
}
details summary{
    /*gets rid of text cursor default*/
    cursor:default;
    list-style: none;

}
.collapsible-content{
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: .5em;
    margin-bottom: 1em;
}
summary{
    margin: 1em;
}
/* ----- Contact Page ----- */
.contact-box{
  width: 90%;
  color: #010b19;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.contact-box p{
  margin: 10px 0 40px;
  font-size: 1em;
  color: #05377b;
}
.contact-form{
  color:#05377b;
  text-decoration: none;
  border: 2px solid #05377b;
  padding: 15px 4%;
  background: #4a6790c4 ;
  position: relative;
  cursor: default;
}
